<header>
  <input [(ngModel)]="inputValue" type="text" id="input-text" placeholder="There would be your task...">
  <span (click)="addNewTask()" id="task-add-button">Add</span>
</header>

<ul
  *ngIf="isAnyTasksInCurrentList() === true else tasksAmount0"
  id="tasks"
>
  <app-task *ngFor="let task of tasks.tasks; let i = index;"
            (click)="taskClicked(i)"
            (deleteTask)="deleteTaskTransfer($event)"
            (changeTaskName)="changeTaskNameTransfer($event)"
            [index]="i"
            [task]="task"
            [currentListId]="currentListId">
  </app-task>
</ul>

<ng-template #tasksAmount0>
  <h4>This list is empty. You can add new task by typing it and clicking 'Add' button</h4>
</ng-template>
