<li *ngIf="task.checked === true && task.list === currentListId else taskNotChecked" [class.checked]="true">
  {{task.name}}
  <span class="task-delete-button"
    (click)="deleteTaskClicked()">
    ×
  </span>
</li>

<ng-template #taskNotChecked>
  <li *ngIf="task.list === currentListId else notInThisList"
    [class.checked]="false">
    {{task.name}}
    <span class="task-delete-button"
          (click)="deleteTaskClicked()">
    ×
  </span>
  </li>
</ng-template>

<ng-template #notInThisList>

</ng-template>
