<div id="app-container">
  <div id="tasks-current-list-container">
    <div id="app-name">
      <h3>{{title}}</h3>
    </div>
    <app-tasks-list
      (addNewTaskToData)="addNewTask($event)"
      (toggleTaskChecked)="toggleTaskChecked($event)"
      (deleteTask)="deleteTask($event)"
      [tasks]="tasksData">
    </app-tasks-list>
  </div>

  <div id="task-lists-container">
    <h3>Task lists</h3>
    <app-lists-list
    (addNewList)="addNewList($event)"
    (deleteList)="deleteList($event)"
    [tasks]="tasksData"
    [currentListId]="currentListId">
    </app-lists-list>
  </div>
</div>

<router-outlet></router-outlet>
