<div id="app-container">
  <div id="tasks-current-list-container">
    <div id="app-name">
      <h3>{{title}}</h3>
    </div>
    <app-tasks-list
      (addNewTaskToData)="addNewTask($event)"
      [tasks]="tasksData">
    </app-tasks-list>
  </div>

  <div id="task-lists-container">
    <h3>Task lists</h3>
    <header>
      <input type="text" id="new-list-input" placeholder="New list title">
      <span onclick="alert('newList')" id="lists-add-button">Add</span>
    </header>
    <ul id="task-lists"></ul>
  </div>
</div>

<router-outlet></router-outlet>
